header nav ul{ 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
    list-style:none; 
    color:green; 
    background-color:white;
    display: flex; 
    justify-content: space-around; 
    align-items: center; 
    vertical-align: middle;  

}

header nav ul li a {
    text-decoration:none;
    text-decoration-color: green;
}

header nav ul li a:hover{
    background-color: yellowgreen;
}

header{ 
    width:100%;
    height: 200px; 
       
    background-image: url(assets/header_background_4.png);
    background-position: center;
   
    
}

header div {
    width:100%;
   

}

header div h1{
    width:100%;
    display: inline-flex;
    justify-content: space-around;
 
    background-color: white;
    color:green;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}
main { 

    color:black;
    background-color: white;


}
textarea{
    resize: none;
}