body{
    margin:0%;
    border:0%;
    padding: 0%;
    margin-top: -20px;
    color:black;
    background: url(assets/imagem_background_1.jpg) no-repeat center center fixed;
    background-color: rgba(201, 201, 201, 0.75);
    background-blend-mode: overlay;
    background-size: cover;
    
  
}
@media screen and (min-width: 480px) {
    .container{
        
        max-width:100%;
        padding-top:10px;
        display: grid;
        grid-template-columns: 3fr 1fr;
        
        grid-template-areas:
        "menu menu" 
        "head head"
    "main aside"
        "footer footer"
        ;
        background-blend-mode: exclusion;
        grid-gap:10px
    
        }
    a{
        text-decoration: none;
    }
    p {
        margin-bottom: 0;
        word-spacing: 7px;
        line-height: 25px;
        
        
    }

    h1{
        word-spacing:8px;
    }

    #menu {
        grid-area: menu;   
        display: block;
        position:sticky;
        top:0;
        background-color: antiquewhite;
        margin-bottom: -1px;
    
    }
    #menu nav ul{ 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow';
        font-weight: bold;
        list-style:none; 
        background-color:white;
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        vertical-align: middle; 

    }
    #menu nav ul li a {
        text-decoration: none;
        color: rgb(49, 43, 43);
        display:block;
        padding: 10px;
        width: 100%;

    }
    #menu nav ul li a:hover{
        background-color: yellowgreen;
        width: 100%;
        text-align: center;
        border-radius: 20px;
    }
    header{ 
        grid-area: header;   
        display: block;
        position:relative;
        top:0;
        height: 200px; 
        background-image: url(assets/header_background_4.png);
        background-position: center; 
        margin-top:-12px;
        
    }
    header h1{
        display:inline-flex;
        position: relative;
        top:25%;
        justify-content: space-around;
        text-align: center;
        width:100%;
        background-color: white; 
        color:green;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }


    main { 

        color:black;
        
        background-blend-mode: exclusion;
        grid-area: main; 
        margin-top: -20px; 
        margin-left: 20px;  
    }
    main img{ width: 50px; vertical-align:middle;
        
    }
    #java{width:100px}
    #devops{width:100px}

    #ciencia_de_dados {
        width:200px;
    }

    #ux{
        width: 100px;
    
    }

    aside{ 
        grid-area: aside;   

        position:sticky;
        top:40px;
        display:flex;
        flex-direction: column;
        flex-wrap: wrap;
        height:fit-content;
        
    }
    aside h2 {
        text-align: center;
        font-family: Cambria;
        
    }
    aside ul{ 
        list-style-type:none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 110%;
        font-weight: bold;
        margin-left: -30px;

        
    }
    aside ul li{
        height:40px;
    }
    aside ul li a{
        text-decoration: none;
        color:black;
        display:block;
    

    }
    aside ul li a:hover {
    background-color: yellowgreen;
    width:100%;
    text-align: center;
    border-radius: 20px;
    }


    .item{
        font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        margin-top: 20px;
        width: 3fr;
        height: fit-content;
        
        border-radius: 20px;
        background-color: white;
        padding:20px;
    }
    footer{
        grid-area: footer;   
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: white;
    }
    footer ul{
        display:flex;
        justify-content:space-between;
        align-items: center;
        list-style:none;
    }
    #menuc {
        grid-area: menu;   
        display: block;
        position:relative;
        top:0;
        background-color: antiquewhite;
        margin-bottom: -1px;
       
    }
    #menuc nav ul{ 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow';
        font-weight: bold;
        list-style:none; 
        background-color:white;
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        vertical-align: middle; 
    
    }
    #menuc nav ul li a {
        text-decoration: none;
        color: rgb(49, 43, 43);
        display:block;
        padding: 10px 0px 10px 10px;
        width: 100%;
    
    }
    #menuc nav ul li a:hover{
        background-color: yellowgreen;
        width: 100%;
        
        border-radius: 20px;
    }
    #box{
        display: block;
        
        position:relative;
        top:10px;
        left:0%;
        right:0%;
        height: 500px;
        background-blend-mode: exclusion;
        margin-left:-20px;
       
    }
    #contactbox{
        display:block;
        position:absolute;
        top: 10px;
        left:20%;
        right:20%;
       
        
    
        margin-top: 10px;
        margin-bottom: 10px;
        
        
        padding-left: 20px;
        border-radius: 20px;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #bonus{
        display:block;
        justify-content: center;
    
    
    }
    #min {
        /*background-blend-mode: exclusion;*/
       
        
    }
    #tbody{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
    }
    #min th{
        padding-bottom: 10px;
        vertical-align:middle;
        text-align:left;
        color:black;
        font-family:cursive;
    }
    #min tr{
        background-blend-mode: exclusion;
        width: 100px;
        height:40px;
    
    }
    
    #min td{
        width:100%;
        padding-left: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .envio{
        text-align: center;
        vertical-align: middle;
        margin-left:50px;
        border-radius: 20px;
        padding-top: 10px;
        
        
    }
    .feedback{
        width: 80%;
        height: 20px;
        border-radius: 20px;
        
    }
    #comentario{
        width:80%;
        height: 40px;
        border-radius:20px;
    }
}






@media screen and (max-width: 480px) {
    .container{ 
        background-blend-mode: exclusion;
        width:100%;
        display:block ;
        padding-top:10px;
      
   
  }
    a{
        text-decoration: none;
    }
    p {
        margin-bottom: 0;
        word-spacing: 7px;
        line-height: 25px;
        
        
    }

    h1{
        word-spacing:8px;
    }

    #menu {
        grid-area: menu;   
        display: block;
        position:sticky;
        top:0;
        background-color: antiquewhite;
        margin-bottom: -1px;
    
    }
    #menu nav ul{ 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow';
        font-weight: bold;
        list-style:none; 
        background-color:white;
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        vertical-align: middle; 

    }
    #menu nav ul li a {
        text-decoration: none;
        color: rgb(49, 43, 43);
        display:block;
        padding: 10px;
        width: 100%;

    }
    #menu nav ul li a:hover{
        background-color: yellowgreen;
        width: 100%;
        text-align: center;
        border-radius: 20px;
    }
    header{ 
        grid-area: header;   
        display: block;
        position:relative;
        top:0;
        height: 200px; 
        background-image: url(assets/header_background_4.png);
        background-position: center; 
        margin-top:-12px;
        
    }
    header h1{
        display:inline-flex;
        position: relative;
        top:25%;
        justify-content: space-around;
        text-align: center;
        width:100%;
        background-color: white; 
        color:green;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

    }
    aside{
        display: block;
        width: 100%;
        height: fit-content;
        background-blend-mode: exclusion;
        
        margin: 0;

    }
    aside h2{
        display: block;
        width: 100%;
        text-align: center;
        font-size: 2em;
        background-color: beige;
        margin:0;
        
    }
    aside ul{
        list-style: none;
        text-align: center;
        flex-direction: column;
        flex-wrap: wrap;
        height:fit-content;
        margin: 0;
        padding: 20px 0 20px 0;
        border-radius: 20px;
    }
    aside ul li{
       
        display: block;
        padding: 0;
        font-size: 120%;
   

    }
    aside ul li a {
        background-color: beige;
        display: block;
        padding-top: 10px;
        width: 100%;
        text-decoration: none;
        color: black;

    
       
    }
        
     

    main{
        background-blend-mode: exclusion;
        color:black;
        grid-area: main; 
        margin-top: -20px;
        width: 100%;
          
    }
    main img{ width: 20%; vertical-align:middle;
        
    }
    

    .item {
         background-color: white;
         width:100%;
         margin-left: 0;
         }
    .item h3{
        text-align: center;
    }
    .item p,h4{
        padding-left: 10px;
    }
    
    footer{
        grid-area: footer;   
        grid-column-start: 1;
        grid-column-end: 3;
        background-color: white;
    }
    footer ul{
        display:flex;
        justify-content:space-between;
        align-items: center;
        list-style:none;
    }
    #menuc {
        grid-area: menu;   
        display: block;
        position:relative;
        top:0;
        background-color: antiquewhite;
        margin-bottom: -1px;
       
    }
    #menuc nav ul{ 
        font-family: 'Franklin Gothic Medium', 'Arial Narrow';
        font-weight: bold;
        list-style:none; 
        background-color:white;
        display: flex; 
        justify-content: space-around; 
        align-items: center; 
        vertical-align: middle; 
    
    }
    #menuc nav ul li a {
        text-decoration: none;
        color: rgb(49, 43, 43);
        display:block;
        padding: 10px 0px 10px 10px;
        width: 100%;
    
    }
    #menuc nav ul li a:hover{
        background-color: yellowgreen;
        width: 100%;
        
        border-radius: 20px;
    }
    #box{
        display: block;
        
        position:relative;
        top:10px;
        left:0%;
        right:0%;
        height: 500px;
        background-blend-mode: exclusion;
        margin-left:-20px;
       
    }
    #contactbox{
        display:block;
        position:absolute;
        top: 10px;
        left:0%;
        right:0%;
        
    
        margin-top: 10px;
        margin-bottom: 10px;
        
        
        padding-left: 20px;
        border-radius: 20px;
        background-color: white;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    #bonus{
        display:block;
        justify-content: center;
    
    
    }
    #min {
        background-blend-mode: exclusion;
        
        width:100%;
        
    }
    #tbody{
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-size: medium;
    }
    #min th{
        padding-bottom: 10px;
        vertical-align:middle;
        text-align:left;
        color:black;
        font-family:cursive;
    }
    #min tr{
        background-blend-mode: exclusion;
        width: 100px;
        height:40px;
    
    }
    
    #min td{
        width:100%;
        padding-left: 20px;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }
    .envio{
        text-align: center;
        vertical-align: middle;
        margin-left:50px;
        border-radius: 20px;
        padding-top: 10px;
        
        
    }
    .feedback{
        width: 80%;
        height: 20px;
        border-radius: 20px;
        
    }
    #comentario{
        width:80%;
        height: 40px;
        border-radius:20px;
    }
    

}

